   <div class="container-fluid" ng-init="getNotificationlist_alert(1,0);">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">{{'lang_Notification'|translate}}</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="dashboard">{{'lang_Home'|translate}}</a></li>
                                        <li class="breadcrumb-item active">{{'lang_show_alerts'|translate}}</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>   	
					
					  <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <h5 class="hk-sec-title">{{'lang_show_alerts'|translate}}</h5><br> 
                                    </div>
    
    
                                    <div class="row" style="margin-top:20px">  
                                       <table class="table datatable-show-all table-bordered table-hover datatable-highlight">
                        
										<thead>
											<tr>
												<th class="head0">{{'lang_sNO'|translate}}</th>
												<th class="head1">{{'lang_Title'|translate}}</th>                            	
												<th class="head1">{{'lang_message'|translate}}</th>
											  
											</tr>
										</thead>
													     
										<tbody>
											<tr ng-repeat="data in NotificationlistArray">
												<td>{{$index+1}}</td>
												<td>{{data.title}}</td>
												<td>{{data.notification_desc}}</td>  
											
												
												
												
											</tr>
											<tr>
												<td ng-if="NotificationlistArray==''" colspan="6" align="center" style="text-align:center;">
													{{'lang_NoRecords_Found'|translate}}
												</td> 
												
											</tr>  
												
										</tbody>
									</table>
                                    </div>
                                    <!-- end row -->
    
                            
    
                                    
                                </div>
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                   
				   

	
		
